<% include header %>
  <div class="container myinfo">
    <img src="/avator.png" alt="用户头像" class="avator">
    <p>昵称：
      <%= session.user%>
    </p>
    <p>介绍：这里是菜鸟空间，我是一只“菜鸟”，没有其他的说明，只是勉励自己。</p>
  </div>
  <% include footer %>